:root {
  --hotpink: #fa426a;
  --blonde: #ffe0b7;
  --blue: #2ec0f9;
  --lightblonde: #fef9ef;
  --lightpink: #ffbec3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--hotpink);
  padding: 1rem;
  width: 100%;
  margin-bottom: 5rem;
  position: fixed;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 5rem;
}

li:last-child {
  margin-right: 0;
}

li a {
  color: var(--lightblonde);
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: var(--blue);
}

body {
  background-color: var(--blonde);
  color: var(--hotpink);
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
  height: 100vh;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--hotpink);
  color: var(--lightblonde);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  scroll-behavior: smooth;
}

#back-to-top:hover {
  background-color: var(--blue);
}

.large-heading {
  font-size: 10rem;
}

.small-heading {
  font-size: 3rem;
}