:root {
  --hotpink: #fa426a;
  --blonde: #ffe0b7;
  --blue: #2ec0f9;
  --lightblonde: #fef9ef;
  --lightpink: #ffbec3;
}

@font-face {
  font-family: "Barbie";
  src: url(/barbie-blog/public/fonts/Modern_Dolly.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--hotpink);
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0; /* Ensure the nav is at the top */
  z-index: 100;
}

body {
  background-color: var(--blonde);
  color: var(--hotpink);
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 5rem; /* Adjust this value based on the height of your nav */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

li {
  margin-right: 5rem;
}

li:last-child {
  margin-right: 0;
}

li a {
  color: var(--lightblonde);
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: var(--blue);
}

.page {
  height: 100vh;
  padding: 5%;
}

.large-heading {
  font-size: 5rem;
  text-align: left;
  margin: 2rem 0;
}

.small-heading {
  font-size: 3rem;
  text-align: center;
}

#home-heading {
  margin-top: 8rem;
  font-size: 10rem;
  font-family: Barbie;
  text-align: center;
}

#home-subheading {
  font-size: 4rem;
  text-align: center;
}

.description {
  font-size: 16pt;
  width: 50ch;
  text-align: justify;
  margin: 1rem 0;
}

.description-header {
  font-size: 30pt;
  text-align: left;
}

.placeholder-image {
  width: 500px;
  height: 500px;
  float: right;
  position: relative;
  top: 20%;
}

.left {
  float: left;
  position: relative;
  top: 15%;
}

.button {
  background-color: var(--hotpink);
  color: var(--lightblonde);
  border: none;
  border-radius: 100%;
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
}

.button:hover {
  background-color: var(--blue);
  cursor: pointer;
}